{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>Community Resource Project</title>
		{% include "head/css.html" %}
	</head>
	<body class="grid place-items-center h-screen bg-neutral-800">
		<div class="max-w-xs mx-auto p-4">
			<img
				src="{% static 'images/copa.png' %}"
				alt="City of Port Angeles Logo"
			/>
			{% if not request.user.is_authenticated %}
			<h1 class="mt-12 text-white text-xl font-medium">Please sign in</h1>
			<form method="POST" class="mt-4">
				{% csrf_token %} {% if error %}
				<div>
					<p class="bg-red-500 text-white p-2 rounded-md mb-4">{{ error }}</p>
				</div>
				{% endif %}
				<div class="">
					<div class="flex flex-col">
						<input
							type="text"
							id="username"
							name="username"
							placeholder="Username"
							required
							class="rounded-t-md bg-neutral-900"
						/>
					</div>
					<div class="flex flex-col mt-1">
						<input
							type="password"
							id="password"
							name="password"
							placeholder="Password"
							required
							class="rounded-b-md bg-neutral-900"
						/>
					</div>
					<div class="flex mt-4">
						<div class="">
							<input id="remember" type="checkbox" value="" />
							<label for="remember" class="text-white pl-1">Remember me</label>
						</div>
					</div>
					<button
						type="submit"
						class="w-full mt-6 bg-sky-700 hover:bg-sky-800 text-white font-medium rounded-md py-2 px-4"
					>
						Sign in
					</button>
					<p class="mt-10 text-gray-300 text-center">© 2024 d.brian.gerdes</p>
				</div>
			</form>
			{% else %}
			<div>
				<p
					class="text-white p-3 rounded-md mb-4 mt-12 bg-neutral-900 border-2 border-black"
				>
					You're already logged in. Would you like to
					<a class="underline-offset-2 underline" href="/logout/">log out</a>?
				</p>
			</div>
			{% endif %}
		</div>
	</body>
</html>
