{% extends "base.html" %} {% block content %} {% if not created %}
<div style="margin-top: 30px">
	<form method="POST" action=".">
		{% csrf_token %}
		<div style="margin-top: 15px">
			<input type="text" name="agency_name" placeholder="Agency Name" />
		</div>
		<div style="margin-top: 15px">
			<input
				type="text"
				name="agency_url"
				placeholder="Agency Website Address"
			/>
		</div>
		<div style="margin-top: 15px">
			<textarea
				name="agency_description"
				cols="30"
				rows="10"
				placeholder="Agency Description"
			></textarea>
		</div>
		<div style="margin-top: 20px">
			<button type="submit">Create Agency</button>
		</div>
	</form>
</div>
{% else %}

<p>Your Agency was created.</p>
<a href="/agencies/{{ object.id }}/"
	>{{ object.agency_name }} - {{ object.agency_url }}</a
>
{% endif %} {% endblock %}
