<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Community Resource Project</title>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="description" content="" />
		<meta name="theme-color" content="#212121" />
		<meta property="og:title" content="Community Asset Project" />
		<meta
			property="og:description"
			content="A community asset (or community resource, a very similar term) is anything that can be used to improve the quality of community life: a person, physical structure or place, community service, or business."
		/>
	</head>
	<body>
		<form action="/agencies/">
			<input type="text" name="q" />
			<input type="submit" value="Search" />
		</form>

		{% block content %} {% endblock content %}
	</body>
</html>
